<h1>Employee info</h1>
<%= @employee["first_name"] %>
<%= @employee["last_name"] %>
<%= @employee["birthdate"] %>
<%= @employee["email"] %>
<%= link_to "Destroy employee", "/employees/#{@employee['id']}", method: :delete %>